@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    background-color: #fff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.section {
    width: 100%;
    padding: 88px 0 110px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}



/* Header */
.header {
    width: 100%;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding-top: 22px;
}

.header_logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    opacity: 1;
}

.header_nav a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    transition: color 0.1s linear;
}

.header_nav a:last-child {
    margin-right: 0;
}

.header_nav a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.header_nav a:hover {
    color: #fce38a;
}

.header_nav a:hover::after {
    opacity: 1;
}



/* Slider */
.intro {
    background: url("img/intro_bg.jpg") center no-repeat;
    height: 100vh;
    padding: 0;
}

.intro_gradient {
    width: 100%;
    height: inherit;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_inner {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
}

.intro_suptitle {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    color: #fff;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 45px;
}

.intro_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 150px;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 50px auto 0;
}



/* Buttons */
.btn {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: color 0.1s linear;
    padding: 10px 25px;
    border: 3px solid #fff;
    margin-top: 50px;
    transition: border-color 0.1s linear;
}

.btn:hover {
    border-color: #f38181;
}



/* About */

.section_header {
    text-align: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.section_suptitle {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    color: #333;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
}

.section_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
}

.section_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto 0;
}

.section_text {
    margin-top: 43px;
}



/* Card */
.card {
    margin-top: 100px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}

.card_item {
    max-width: 380px;
    position: relative;
    background-color: #95e1d3;
}

.card_img {
    transition: transform .15s linear;
    background-image: linear-gradient(#f38181, #fce38a);
}

.card_img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity 0.15s linear;
}

.card_hidden {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #fff;
    opacity: 0;
    transition: opacity .15s linear;
}

.card_hidden_icon {
    font-size: 20px;
}

.card_hidden_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
}

.card_item:hover .card_img {
    transform: translate3d(-10px, -10px, 0);
}

.card_item:hover .card_hidden {
    opacity: 1;
}

.card_item:hover .card_img img{
    opacity: 0.1;
}



/* Count */
.count {
    background-color: #95e1d3;
    padding: 80px 0 85px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.count_items {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}

.count_item {
    text-align: center;
}

.count_value {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 20px;
}

.count_text {
    font-weight: 400;
    font-size: 14px;
}
